.nav-item .nav-link{
    color: rgb(1, 1, 57);
}
#logo{
    color: rgb(3, 3, 39);
}
#coverImage{
    height: 75%;
    width: 100%;
}
#cover{
    background-image: url("https://media.istockphoto.com/id/926243036/photo/stack-of-books-background-many-books-piles.jpg?s=170667a&w=0&k=20&c=-l2kE6RSIxNHsE3EHR3G6JunyO0_wTyynoY7hVVxhEI=");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    padding-left: 10%;
}
#cover h1{
    color:  rgb(1, 1, 57);
    font-weight: 700; 
    font-family: 'Source Sans Pro', sans-serif;
}
.nav-link:hover{
    background-color: rgb(1, 1, 57);
    color: white;
}
.btn-bd-primary {
    background-color:rgb(1, 1, 57) ;
    color: white;
}
.btn-bd-primary:hover {
    background-color: rgb(9, 9, 81);
    color: rgb(228, 222, 222);
}
.fadeIn{
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
#bookSearch{
    width: 20%;
}
#footer{
    background-color: aliceblue;
    padding: 3% 0 ;
}
#featuredCollection img{
    height: 75%;
}
#featuredCollection{
    margin-top: 40px;
}
#featuredCollection h1{
    font-family: 'Source Sans Pro', sans-serif
}



